*{
    padding: 0%;
    margin: 0%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/*imagens de fundo*/
.static{
    position: fixed;
    height:100vh;
    left: 25px;
}

.background{
    position: fixed;
    height:80%;
    right:1%;
}

/*parte para rodatão do email propriedade do css*/

.img-back{
    transform: rotate(330Deg);

}

.img-backs{
    transform: rotate(30Deg);
}

/*Social*/

.social{
    margin-top:30px;
}

button{
    background-color: #0d0a31;
    border:none;
    margin:5px;
}



/*basse do site */

html, body{
    height: 100%;
    min-height: 100%;
    background-color: #0d0a31;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    height: 100%;
    min-height: 100%;
    align-items: center;
    grid-template-columns: 100px auto 100px;
    justify-content: center;
}

.content{
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    color:white;
    font-weight: 700;
    background-color: #41b62d;
    border-radius: 20px;
    width:25%;
    height:500px;
    align-items: center;
    justify-content: center;
}

.div-img{
    width:auto;
    height:50%;
    margin-top:35px;
    border-bottom: 1px solid white;
}

/*Login Usuário*/

.login{ 
    display: flex;
    align-items: end;
    justify-content: center;
    color:#28ff00;
    text-align: center;
    font-size: 25px;
    width:25%;
    height:60%;
    border-radius: 20px;
}

.img-name{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

h2{
    border-bottom: 2px solid #28ff00;
    margin:10px;
}

h2:hover{
    color:white;
}
 
.input-btn{
    border:none;
    display: flex;
    padding:10px;
    margin:10px;
    border:1px solid #28ff00;
    flex-direction: column;
    border-radius: 20px;
    outline: none;

}

.input-btn:hover{
    background-color: #28ff00;
}

.btn{
    color:white;
    background-color: #28ff00;
    width:50%;
    box-sizing: border-box;
    font-size: 20px;
    height:5vh;
    border: none;
    border-radius: 20px;
}

.btn:hover{
    color: #28ff00;
    background-color: white;
    border:1px solid #28ff00;

}